In [29]:
import pandas as pd
import numpy as np

#Load data from the provided csv's
test_data = pd.read_csv('cyber-data/UNSW_NB15_testing-set.csv')
train_data = pd.read_csv('cyber-data/UNSW_NB15_training-set.csv')

#This combines the data in order to make sure the column names are the same, and then it gets the list of columns to iterate over
combined_data = pd.concat([train_data, test_data])
cols = list(combined_data)

#This gets rid of all the empty values by replacing them with nulls, then dropping them using np.nan
for col in cols:
    train_data[col].replace('-', np.nan, inplace=True)
    train_data.dropna(subset=[col], inplace=True)
    test_data[col].replace('-', np.nan, inplace=True)
    test_data.dropna(subset=[col], inplace=True)

#This iterates over all the columns and only saves the categorical values that are in both datasets
for col in cols:
    train_data = train_data[train_data[col].isin(test_data[col])]
    test_data = test_data[test_data[col].isin(train_data[col])]

display(train_data)
display(test_data)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
214,215,0.001146,udp,dns,CON,2,2,146,178,2617.801058,...,2,3,0,0,0,2,8,0,Normal,0
241,242,0.001066,udp,dns,CON,2,2,146,178,2814.258996,...,1,4,0,0,0,5,5,0,Normal,0
255,256,0.001169,udp,dns,CON,2,2,132,164,2566.295861,...,1,1,0,0,0,1,4,0,Normal,0
293,294,0.001106,udp,dns,CON,2,2,132,164,2712.477299,...,1,1,0,0,0,2,3,0,Normal,0
295,296,0.001140,udp,dns,CON,2,2,132,164,2631.579064,...,1,1,0,0,0,3,2,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40889,40890,0.001006,udp,dns,CON,2,2,146,178,2982.107425,...,1,3,0,0,0,2,6,0,Normal,0
40901,40902,0.001016,udp,dns,CON,2,2,146,178,2952.755752,...,1,3,0,0,0,2,4,0,Normal,0
51762,51763,0.000010,udp,dhcp,INT,2,0,1152,0,100000.002500,...,4,4,0,0,0,4,3,0,Exploits,1
54783,54784,0.000010,udp,dhcp,INT,2,0,1152,0,100000.002500,...,4,4,0,0,0,4,3,0,Exploits,1
68252,68253,0.000008,udp,snmp,INT,2,0,138,0,125000.000300,...,1,1,0,0,0,2,1,0,Reconnaissance,1

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
2847,2848,0.000008,udp,snmp,INT,2,0,136,0,125000.000300,...,1,1,0,0,0,1,1,0,Reconnaissance,1
10382,10383,0.000008,udp,snmp,INT,2,0,138,0,125000.000300,...,1,3,0,0,0,6,1,0,Reconnaissance,1
11758,11759,0.338518,tcp,http,FIN,66,14,78481,612,233.370165,...,1,1,0,0,1,1,1,0,Exploits,1
23378,23379,0.001110,udp,dns,CON,2,2,146,178,2702.702815,...,1,1,0,0,0,1,1,0,Normal,0
23412,23413,0.001017,udp,dns,CON,2,2,146,178,2949.852669,...,1,2,0,0,0,3,1,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40280,40281,0.001064,udp,dns,CON,2,2,146,178,2819.548997,...,1,1,0,0,0,6,3,0,Normal,0
40281,40282,0.001147,udp,dns,CON,2,2,146,178,2615.518738,...,1,1,0,0,0,7,1,0,Normal,0
40288,40289,0.001000,udp,dns,CON,2,2,132,164,2999.999858,...,1,2,0,0,0,8,4,0,Normal,0
49522,49523,0.000004,udp,snmp,INT,2,0,136,0,250000.000600,...,1,1,0,0,0,1,1,0,Reconnaissance,1
51909,51910,0.000008,udp,snmp,INT,2,0,136,0,125000.000300,...,1,1,0,0,0,1,1,0,Reconnaissance,1